dialog[app-tools]#context::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

@media (max-width: 480px) {
  dialog[app-tools]#context {
    background: var(--ui-bg-6);
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    width: calc(100% - 6px);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border: solid 3px var(--ui-bg-6);
    box-shadow: 0 -4px 4px 0 rgb(0 0 0 / 12%), 0 -4px 4px 0 rgb(0 0 0 / 24%);

    transform: translateY(200px);
    transition: transform .2s ease-out;
    min-height: 200px;
  }

  dialog[app-tools][open]#context {
    transform: translateY(0);
    height: fit-content;
    max-height: 350px;
  }

  dialog[app-tools]#context a {
    color: var(--ui-neutral);
    display: block;
    padding: 20px 12px;
    border-radius: 8px;
  }

  dialog[app-tools]#context a:hover {
    background: var(--ui-bg-5);
  }

  dialog[app-tools]#context a:active,
  dialog[app-tools]#context a:focus-visible {
    background: var(--ui-bg-4);
  }

  dialog[app-tools]#context a:focus-visible {
    border-radius: 4px;
    box-shadow: var(--ui-secondary-4) 0px 0px 12px, var(--ui-secondary-4) 0px 0px 0px 3px;
    outline: 1px;
    transition: box-shadow 0.1s ease-in-out 0s;
  }
}


@media (min-width: 480px) {
  dialog[app-tools]#context {
    width: 150px;
    height: min-content;
    opacity: 0;
    transform: scale(0.7);
    transform-origin: top right;
    transition: opacity .1s ease-out, transform .1s ease-out, scale .1s ease-out;
    border-radius: 8px;
    border: none;
    background-color: var(--ui-bg-6);
  }

  dialog[app-tools][open]#context {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/**
  * Non required context styles
  */
dialog[app-tools]#context button:hover {
  background: var(--ui-bg-5);
}

dialog[app-tools]#context button:active,
dialog[app-tools]#context button:focus-visible {
  background: var(--ui-bg-4);
}
dialog[app-tools]#context button:focus-visible {
  border-radius: 4px;
  box-shadow: var(--ui-secondary-4) 0px 0px 12px, var(--ui-secondary-4) 0px 0px 0px 3px;
  outline: 1px;
  transition: box-shadow 0.1s ease-in-out 0s;
}

dialog[app-tools]#context button {
  display: block;
  width: 100%;
  background: var(--ui-bg-6);
  border: none;
  padding: 20px 12px;
  margin-bottom: 6px;
  border-radius: 4px;
}

dialog[app-tools]#context button:last-child {
  margin-bottom: 0px;
}

dialog[app-tools]#context {
  z-index: 10;
}